<head>
  <link rel="stylesheet" type="text/css" href = "static/styles/styles.css" />
</head>

<h1>Have a movie!  Have TWO movies!</h1>

<form method = "POST" action = "movie">
  <ul>
  <li><input type = "text" name = "name" /></li>
  <li><input type = "text" name = "year" /></li>
  <li><input type = "text" name = "genre" /></li>
  <li><input type = "text" name = "freshness" /></li>
  </ul>
  <input type = "submit" placeholder = "SUBMIT!" />
</form>

<a href = "/movies">These are a movie list!</a>
